<!DOCTYPE html>
<head>
    <script src="{{static_url("js\jquery.min.js")}}"></script>
    <script src="{{static_url("js\script.js")}}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Learning Python</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST">
        <p><span>Input:</span><input type="text" id="input"/><span><input type="BUTTON" value="confirm" id="confirm" /></span></p>
        <div id="a"></div>
    </form>
</body>